.completed-tickets-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #0E464F;
    min-height: 100vh;
    margin-top: 50%;
    border-radius: 24px;
  }
  
  .title {
    font-size: 24px;
    font-weight: bold;
    color: white;
    margin-bottom: 20px;
  }
  
  .no-tickets {
    color: white;
    font-size: 16px;
  }
  
  .tickets-grid {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 556px;
    background: transparent;
  }
  
  .ticket-card {
    background: transparent;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #24A0B5;
  }
  
  .ticket-name {
    font-size: 18px;
    font-weight: bold;
    color: white;
    background: transparent;
  }
  
  .ticket-card p {
    color: white;
    font-size: 14px;
    margin: 5px 0;
    background: transparent;
  }
  
  .ticket-image {
    width: 356px;
    height: 100px;
    object-fit: contain;
    margin-top: 10px;
    border-radius: 5px;
    background: transparent
  }
  