.ticket-container {
    width: 700px;
    height: 850px;
    padding: 48px;
    border-radius: 40px;
    background-color: #041E23;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.title-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #041E23;
    margin-bottom: 10px;
}

.title-box h1 {
    background-color: #041E23;
}

.title-box p {
    background-color: #041E23;
}

.progress-bar {
    width: 100%;
    height: 5px;
    background: #2a3b3f; /* Darker shade for progress background */
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 20px;
}

.progress {
    height: 100%;
    width: 33%; /* Default step 1 */
    background: #3eb0ef; /* Light blue progress */
    transition: width 0.5s ease-in-out;
}

.info-container {
    width: 604px;
    height: 726px;
    bottom: #08252B;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.ticket-info {
    width: 556px;
    height: 200px;
    /* display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center; */
    text-align: center;
    padding: 24px;
    border-radius: 24px;
    background: linear-gradient(45deg, #07373F, #071e26);
}

.ticket-info h1 {
    font-size: 52px;
    font-weight: 700;
    background: transparent;
    margin-bottom: 20px;
}

.ticket-info p {
    background: transparent;
    margin-bottom: 10px;
}

.date {
    margin-top: 10px;
}

.info-container hr {
    width: 556px;
    height: 4px;
    background: #07373F;
    border: none;
}

.ticket-type {
    width: 556px;
    height: 218px;
}

.ticket-type h3 {
    margin-bottom: 10px;
}

.ticket-options {
    width: fill;
    height: 186px;
    padding: 16px;
    border: 24px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.ticket{
    width: 222px;
    height: 65px;
    padding: 10px;
    margin-right: 20px;
    cursor: pointer;
    border: 2px solid #07373F;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.3s;
    /* position: relative; */
}

.ticket-price {
    width: 80px;
    height: 38px;
    padding: 8px;
    text-align: right;
    background-color: #0E464F;
    border-radius: 8px;
}

.ticket-type {
    font-weight: bold;
    text-align: left;
    font-size: 16px;
    margin-right: 10px;
    
}

.ticket-left {
    margin-top: 10px;
    text-align: left;
    display: block;
}

.selection-container {
    width: 556px;
    height: 48px;
}

.selection-container label {
    display: block;
    margin-bottom: 10px;

}

select {
    width: 100%;
    height: 48px;
    border-radius: 12px;
    margin-bottom: 10px;
    border: 1px solid #07373F;
    padding: 12px;
    outline: none;
    box-shadow: none;
    margin-bottom: 10px;
}

select:focus {
    outline: none;
    box-shadow: none;
    border-color: inherit; /* Keeps the border color unchanged */
}

.decision-container {
    margin: 20px;
    width: 556px;
    height: 48px;
    background: #041E23;
    margin-left: 0px;
    display: flex;
    justify-content: space-between;
    padding: 0 48px;
}

.decision-container button {
    width: 214px;
    height: 48px;
    padding: 20px 12px;
    border-radius: 8px;
    cursor: pointer;
}

.cancel {
    border-color: #24A0B5;
    color: #24A0B5;
    background: transparent;
}

.next {
    background: #24A0B5;
    color: white;
}
