header {
    height: 76px;
    width: 100%;
    max-width: 1200px;
    background: transparent;
    padding: 16px 12px;
    margin: 20px auto;
    border-radius: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #197686;
    z-index: 20;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

nav ul {
    display: flex;
    flex-direction: row;
    gap: 20px;    
}

a {
    text-decoration: none;
}

li {
    list-style: none;
    color: #B3B3B3;
    
}

header button {
    color: #0A0C11;
    background: white;
    font-size: 16px;
    padding: 20px 16px;
    border-radius: 12px;
    border: 1px solid #D5EA00;
    cursor: pointer;
}

button .arrow {
    background: transparent;
}

@media (max-width: 768px) {
    header {
        height: auto;
        padding: 16px;
    }

    nav ul {
        display: hidden;
        flex-direction: row;
        width: 100%;
        gap: 10px;
    }

    .logo {
        height: 20px;
    }

    header button {
        width: 100%;
        padding: 10px 16px;
        font-size: 12px;
        margin-top: 10px;
    }
}

@media (max-width: 480px) {
    header {
        margin: 0;
        border-radius: 0;
    }

    nav ul {
        display: hidden;
        gap: 8px;
    }

    ul li {
        font-size: 10px;
    }

    header button {
        font-size: 14px;
        padding: 8px 12px;
    }

    .arrow {
        width: 15px;
    }
}