@import url(//fonts.googleapis.com/earlyaccess/jejumyeongjo.css); 

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Jeju Myeongjo', sans-serif;
  background: #02191D;
  color: #fff;
}